{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive border-primary">
            <table class="table table-bordered table-striped text-center table-hover">
                <h3 class="table-title text-center text-primary">Product List</h3>
                <thead>
                    <tr>
                        <th style="text-align: left;">#</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Views</th>
                        <!-- <th>Details</th> -->
                    </tr>
                </thead>
                
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td style="text-align: left;">{{forloop.counter}}</td>
                        <td>{{product.title}}</td>
                        <td><img src="{{product.image.url}}" alt="" style="max-width: 50px;max-height: 50px;"></td>
                        <td>{{product.total_views}}</td>
                        <!-- <td> <a href="#"><i class="fas fa-bars"></i></a> </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- for paginators  -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        Showing {{products.start_index }} to {{products.end_index }} out of
        {{product_num}}
      </div>

      <div class="col-md-6" style="display: flex; justify-content: end">
          {% if products.has_other_pages %}
          <div class="btn-group me-2" role="group" aria-label="First group">
            {% if products.has_previous %}
            <button type="button" class="btn btn-outline-primary"><a href="?page={{ products.previous_page_number }}">&laquo;</a></button>
              
            
            {% else %}
            <button type="button" class="btn btn-outline-primary disabled"><span>&laquo;</span></button>
            {% endif %} 
            {% for i in products.paginator.page_range %} 
            {% if products.number == i %}
            <button type="button" class="btn btn-outline-primary active">{{ i }}<span class="sr-only">(current)</span></button>
            {% else %}
            <button type="button" class="btn btn-outline-primary"><a href="?page={{ i }}" class="p-2">{{ i }}</a></button>
            {% endif %} 
            {% endfor %} 
            {% if products.has_next %}
            <button type="button" class="btn btn-outline-primary"><a href="?page={{ products.next_page_number }}">&raquo;</a></button>
            {% else %}
            <button type="button" class="btn btn-outline-primary disabled"><span>&raquo;</span></button>
            {% endif %}
        </div>
          {% endif %}
        </div>
    </div>
  </div>
{% endblock %}