{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <h1 class="text-center m-3">Category</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 my-3">
            <a href="/product/{{product.id}}/single_product">
                <div class="row">
                    <img src="{{ product.image.url }}" alt="">
                </div>
                <div class="row">
                    <div></div>
                    <h5>{{product.title}}</h5>
                </div>
                <div class="row">
                    <div>
                        <a class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}